.grid {
  display: grid;
  padding-top: 12rem;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];
  justify-content: center;
}
