.change-password-form {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-column-gap: 4rem;
  padding: 4rem 5rem;

  &__left {
    display: grid;
    grid-template-rows: repeat(6, 5rem);
    grid-template-columns: minmax(min-content, 1fr);
    align-items: center;
    text-align: right;
    grid-row-gap: 1rem;
    line-height: 2rem;
  }

  &__right {
    @extend .change-password-form__left;
    padding-left: 0;
    text-align: left;
  }
}
