.post-dialog {
  display: grid;
  max-width: 95rem;
  margin: 0 5rem;
  grid-template-rows: min-content 1fr repeat(2, min-content);
  grid-template-columns: 30vw 30rem;

  &__image {
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: $color-white;
    padding: 1rem;

    *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__more {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__comments {
    background-color: $color-white;
    border-top: 1px solid $color-grey-4;
    border-bottom: 1px solid $color-grey-4;
  }
}
