$color-white: #fff;
$color-black: #262626;
$color-red: #ed4956;

$color-grey-1: #999;
$color-grey-2: #dbdbdb;
$color-grey-3: #fafafa;
$color-grey-4: #efefef;

$color-secondary: #3897f0;

$icon-huge-size: 15rem;
$icon-large-size: 4rem;
$icon-medium-size: 2.7rem;
$icon-small-size: 2rem;
$icon-tiny-size: 1.3rem;
