$color-white: #fff;
$color-black: #262626;
$color-red: #ed4956;

$color-grey-1: #999;
$color-grey-2: #dbdbdb;
$color-grey-3: #fafafa;

$color-secondary: #3897f0;

$icon-width: 2.5rem;
$icon-height: 2.5rem;
