.profile-header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 10rem;
  justify-items: start;

  padding-bottom: 4rem;
  border-bottom: 1px solid $color-grey-2;

  &__info {
    display: grid;
    justify-items: start;
  }
}

.profile-buttons {
  display: flex;
  align-items: center;
  width: 100%;

  & > * {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  & > * {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }
}

.profile-categories {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  transform: translateY(-1px);
  color: $color-black;

  &__category {
    display: flex;
    align-items: center;
    border-top: 1px solid currentColor;
    padding: 1.5rem 0;
    text-align: center;
    cursor: pointer;

    & > * {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}

.profile-images {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 25rem);
  grid-auto-rows: 25rem;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}
