.text-center {
  text-align: center !important;
}

.mb-xs {
  margin-bottom: 0.5rem !important;
}

.font-thin {
  font-weight: 300 !important;
}

.font-medium {
  font-weight: 400 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.color-blue {
  color: $color-secondary !important;
}

.color-grey {
  color: $color-grey-1 !important;
}

.color-light {
  color: $color-grey-1 !important;
}

.color-red {
  color: $color-red !important;
}
